.mainContainer{
  background-color:lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;*/
  height: fill;
  width: fill;
  flex-direction: column;
}

.toDoAddBar{
  height: 100px;
  width:fill;
   font-size: 250%;
}

.toDoListCont{
  height: fill;
  align-items: center;
  justify-content: center;
}

.eachToDoRow{
  display: flex;
  flex-direction: row;;
  align-items: center;
  justify-content: center;
  background-color: coral;
}
.checkBox{
  width: 50px;
  height: 50px;
}

.subContainer{
  height: 200px;
  width: 400px;
  display: flex;
  background-color: grey;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page1Cont{
  height: 50px;
  width: 400px;
  display: flex;
  background-color: lightgreen;
  align-items: center;
  justify-content: center;
}

.button1{
  height: 50px;
  width: 400px;
  display: flex;
  background-color: lightgreen;
  align-items: center;
  justify-content: center;
}

.button2{
  height: 50px;
  width: 400px;
  display: flex;
  background-color: lightyellow;
  align-items: center;
  justify-content: center;
}

.page2Cont{
  height: 50px;
  width: 400px;
  display: flex;
  background-color: lightblue;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.subContainer2{
  height: 100%;
  width: 100%;
  background-color: coral;
}
